body {
    margin: 0;
    padding: 0;
    background-color: #EEE;
    font-family: monaco, sans-serif;
}

#stats {
    position: static;
    background-color: #A6B779;
    color: #EEE;
}

#stats li {
    font-size: 14px;
    padding-bottom: 11px;
}

#stats em {
    font-weight: bold;
    font-style: normal;
    color: #EEE;
}

#mocha .test.pass::before {
    content: '•';
    color: #5E7D00;
}

#mocha .test.fail {
    color: #000;
}
#mocha .test.fail::before {
    content: '•';
    color: #B03911;
}
#mocha .test pre {
    border: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, .3);
    background-color: #FAFAFA;
}
#mocha .test pre.error {
    color: #B03911;
    width: 100%;
}

#mocha .test.pass .duration {
    border-radius: 0;
    -webkit-border-radius: 0;
}
#mocha .test.pass.medium .duration {
    background-color: hsla(38, 46%, 54%, .6);
}
#mocha .test.pass.slow .duration {
    background-color: hsla(15, 82%, 38%, .6);
}

#mocha .test:hover h2::after {
    content: '';
}

#stats a:hover,
#mocha h1 a:hover {
    text-decoration: none;
    border-bottom: none;
}

#mocha h1,
#mocha .suite .suite h1 {
    margin-top: 10px;
    font-size: 13px;
    color: #333;
    font-family: Helvetica, sans-serif;
}
#mocha h1 {
    margin-top: 15px;
}
